{
    margin: 0;
    border: 0;
    padding: 0;
    }
    
    html, body {
        width: 100vw;
        min-height: 100vh;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(0, 0, 0);
    }
    
    header {
        display: block;
        text-align: center;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        text-align: center;
    }

    main p {
        text-indent: 1em;
        background-color: rgb(251, 255, 0);
    }
    ul {
        display: flex;
        flex-wrap: wrap;
      }
      
      li {
        height: 40vh;
        flex-grow: 1;
      }
      
      img {
        max-height: 25%;
        min-width: 25%;
        object-fit: cover;
        vertical-align: bottom;
      }
    